<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
  <main class="container">
    <h1>Job Scrapper</h1>
    <h4>Which site do you want to scrape jobs?</h4>

    <div style="display: flex; justify-content: space-between; gap: 10px; width: 100%;">
      <form action="/search_berlinstartupjobs" style="flex: 1;">
          <button style="width: 100%; height: 300px; font-size: 40px; display: flex; justify-content: center; align-items: center; "> berlinstartupjobs </button>
      </form>
      <form action="/search_weworkremotely" style="flex: 1;">
          <button style="width: 100%; height: 300px; font-size: 40px; display: flex; justify-content: center; align-items: center; "> weworkremotely </button>
      </form>
      <form action="/search_web3career" style="flex: 1;">
          <button style="width: 100%; height: 300px; font-size: 40px; display: flex; justify-content: center; align-items: center; "> web3.career </button>
      </form>
    </div>

  </main>
</body>
</html>